{{> header}}
    <div class="top">
      <div class="logo">
        <p>GABRIELE PIROVANO</p>
      </div>
      <div class="galleryTitle">
        <p><a href="/">{{galleryTitle}}</a></p>
      </div>
      <div class="menu">
        <p><a href="/contact">contact</a></p>
      </div>
    </div>
    <div class="main">
      <div class="focus">
        <img src="{{path}}" alt="{{picName}}" />
      </div>
      <div class="title">
        <p>{{picName}}</p>
      </div>
      <div class="controls">
        <p><a href="/gallery/{{galleryTitle}}/{{prevImg}}">prev</a> | <a href="/gallery/{{galleryTitle}}/{{nextImg}}">next</a></p>
      </div>
    </div>
{{> footer}}
