{{> header}}
    <div class="top">
      <div class="logo">
        <p><a href="/">GABRIELE PIROVANO</a></p>
      </div>
      <div class="galleryTitle">
        <p>{{galleryTitle}}</p>
      </div>
      <div class="menu">
        <p><a href="/contact">Contact me</a></p>
      </div>
    </div>
    <div class="main">
      <div class="focus">
        <img src="{{path}}" alt="{{picName}}" />
      </div>
      <div class="title">
        <p>{{picName}}</p>
      </div>
      <div class="controls">
        <p><a href="/gallery/{{galleryTitle}}/{{prevImg}}">&lt; prev</a> | <a href="/gallery/{{galleryTitle}}/{{nextImg}}">next &gt;</a></p>
      </div>
    </div>
{{> footer}}
