{{> header}}
  <div class="left">
    <div class="main">
      <div class="title">
        <a href="/"><p id="title">GABRIELE PIROVANO</p></a>
      </div>
      <div class="menu">
        <a href="/gallery/Audacity/{{firstAudacity}}"><p>Audacity</p></a>
        <a href="/gallery/Colore/{{firstColore}}"><p>Colore</p></a>
        <a href="/gallery/B&W/{{firstBandw}}"><p>B&W</p></a>
        <a href="/gallery/Cooling/{{firstCooling}}"><p>Cooling</p></a>
        <a href="/gallery/Kidz/{{firstKidz}}"><p>Kidz</p></a>
        <a href="/gallery/Meetmeat/{{firstMeetmeat}}"><p>Meet meat</p></a>
        <a href="/gallery/Muse/{{firstMuse}}"><p>Muse</p></a>
        <a href="/gallery/Squatinn/{{firstSquatinn}}"><p>Squatt Inn</p></a>
        <a href="mailto:Pirovano.gabri@gmail.com" target="_top"><p id="contact">Contact</p></a>
      </div>
      <div class="copyright">
        <p id="copyright">All images &copy; Gabriele Pirovano</p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="main">
      <div class="pictureTitle">
        <p><a href="/gallery/{{galleryTitle}}/{{prevImg}}">&lt; prev</a> | <a href="/gallery/{{galleryTitle}}/{{nextImg}}">next &gt;</a></p>
      </div>
      <div class="focus">
        <img src="http://gabrielepirovano.com/uploads/167035f288e45667877f990d5b60006c" alt="Carabinieri" />
      </div>
      <div class="controls">
        <p>Carabinieri</p>  
      </div>
    </div>
  </div>
{{> footer}}
