{{> header}}
    <div class="top">
      <div class="logo">
        <p>GABRIELE PIROVANO</p>
      </div>
      <div class="galleryTitle">
        <p>{{galleryTitle}}</p>
      </div>
      <div class="menu">
        <p><a href="/contact">contact</a></p>
      </div>
    </div>
    <div class="main">
      <div class="home">
        <div class="home_thumb">
          <a href="/gallery/audacity/{{firstAudacity}}"><img src="front/audacity.jpg" width="80%" />
          <p>Audacity</p></a>
        </div>
        <div class="home_thumb">
        <a href="/gallery/colore/{{firstColore}}"><img src="front/colore.jpg" width="80%" />
            <p>Colore</p></a>
        </div>
        <div class="home_thumb">
            <a href="/gallery/bandw/{{firstBandw}}"><img src="front/bandw.jpg" width="80%" />
            <p>B&W</p></a>
        </div>
        <div class="home_thumb">
          <a href="/gallery/cooling/{{firstCooling}}"><img src="front/cooling.jpg" width="80%" />
            <p>Cooling</p></a>
        </div>
        <div class="home_thumb">
          <a href="/gallery/kidz/{{firstKidz}}"><img src="front/kidz.jpg" width="80%" />
            <p>Kidz</p></a>
        </div>
        <div class="home_thumb">
          <a href="/gallery/meetmeat/{{firstMeetmeat}}"><img src="front/meetmeat.jpg" width="80%" />
            <p>Meet meat</p></a>
        </div>
        <div class="home_thumb">
          <a href="/gallery/muse/{{firstMuse}}"><img src="front/muse.jpg" width="80%" />
            <p>Muse</p></a>
        </div>
        <div class="home_thumb">
          <a href="/gallery/squatinn/{{firstSquatinn}}"><img src="front/squatinn.jpg" width="80%" />
            <p>Squatt Inn</p></a>
        </div>
      </div>
    </div>
{{> footer}}
